/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@400..900&display=swap');

/* General styles for the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* Container styles to center content */
#container {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
 
}

/* Stopwatch display styles */
#display {
  font-size: 30rem;
  font-family: "LCDMono2";
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  display: none; /* Hide display initially */
}

/* Message styles for left and right */
.message {
  position: absolute;
  font-size: 7em;
  font-weight: bold;
  color: rgb(251, 255, 0);
  text-shadow: 2px 2px 4px rgba(251, 255, 0, 0.7);
  display: none;
  background-color: rgba(128, 255, 0, 0);
  width: 50%;
  height: 100%;
  padding-top: 450px;
  box-sizing: border-box;
}

/* Left message styles */
#left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-right: 100px;
}

/* Right message styles */
#right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-left: 100px;
}


#right-idel-countdown{
  font-size: 3em; /* Very large font size */
  font-weight: bold;
  color: rgb(252, 0, 0);
  position: absolute;
  top: 10%;
  left: 76%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  z-index: 10; /* Ensure it is above other elements */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-family: "Russo One", sans-serif; /* Apply new gaming font */
  animation: pulse 1s infinite;
  margin-top: 40px;
  width: 400px;
  border-radius: 20px;
  height: 150px;
  line-height: 20px;
}

#left-idel-countdown{
  font-size: 3em; /* Very large font size */
  font-weight: bold;
  color: rgb(252, 0, 0);
  position: absolute;
  top: 10%;
  left: 26%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  z-index: 10; /* Ensure it is above other elements */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-family: "Russo One", sans-serif; /* Apply new gaming font */
  animation: pulse 1s infinite;
  margin-top: 40px;
  width: 400px;
  border-radius: 20px;
  height: 150px;
  line-height: 20px;
}

/* Countdown styles */
#countdown {
  font-size: 30em; /* Very large font size */
  font-weight: bold;
  color: rgb(252, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  z-index: 10; /* Ensure it is above other elements */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-family: "Russo One", sans-serif; /* Apply new gaming font */
  animation: pulse 1s infinite;
}

/* Keyframes for the pulse animation */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* Background styling */
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  width: 100%;
  height: 100vh;
}

/* Logo div styling */
#logo_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}

/* Logo image styling */
#logo {
  visibility: hidden;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/* Keyframes for pop-up effect */
@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Input field styling */
.input {
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: 0;
  font-size: 28px;
  font-weight: 500;
  font-family: "Russo One", sans-serif;
  padding: 0px 5px;
  margin: 0px 30px;
  text-align: center;
}

/* Button styling */
#team_name_bttn {
  width: 300px;
  height: 50px;
  background: linear-gradient(145deg, #ff007f, #660066);
  border: 2px solid #999;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-family: "Russo One", sans-serif;
 
}

/* Button hover effect */
#team_name_bttn:hover {
  background: linear-gradient(145deg, #ff4d99, #990099);
}

/* Hide elements with the 'visible' class */
.visible {
  visibility: hidden;
}

/* VS container styling */
.vs_canteiner {
  background-image: url('vs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 400px;
  display: none; /* Initially hide VS container */
  opacity: 0; /* Ensure it's hidden by default */
}

/* Base styles for team names */
.team_names {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 70px;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  animation: flashScaleFadeIn 2s infinite;
 
}

/* Keyframes for the flashScaleFadeIn animation */
@keyframes flashScaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fade-out class */
.fade-out {
  animation: fadeOut 1s forwards;
}

/* Fade-in class */
.fade-in {
  animation: fadeIn 1s forwards;
}


